@font-face {
    font-family: ff;
    src: font-url('../../../assets/fonts/Poppins/Poppins-Light.ttf') format('truetype');

}

.Music{
    width: 35px;
    height:35px
    ;
}
.backgroud-Color{
    background-color: rgb(52, 81, 207);
    color: white;
}
.fs{
    font-size: 12px
}