<div class="row my-4">
  <!-- <div class="col-md-3">
    <div class="backgroud-Color text-light m-1 ms-0 pb-4 border">
      <div class="d-flex justify-content-between m-3">
        <div class="fw-bold fs-3">30%</div>
        <div class="">
          <img class="Music" src="../../../assets/Images/Music.svg" alt="" />
        </div>
      </div>
      <div class="fw-bold fs-6 ms-3">cardsData</div>
      <div class="ms-3" style="font-size: 12px">
        Lorem Ipsum is simply dummy
      </div>
    </div>
  </div> -->
  <div class="col-md-3" *ngFor="let item of cardData; let i = index">
    <div
      class="bg m-1 ms-0 pb-4 border"
      [routerLink]="[i + 1]"
      [routerLinkActive]="'backgroud-Color'"
    >
      <div class="d-flex justify-content-between m-3">
        <div class="fw-bold fs-3 text-primary">{{ item.value }}%</div>
        <div>
          <img class="Music" src="../../../assets/Images/Music.svg" alt="" />
        </div>
      </div>
      <div class="fw-bold fs-6 ms-3">{{ item.header }}</div>
      <div class="ms-3 fs">
        {{ item.sub_header }}
      </div>
    </div>
  </div>
</div>
