<div class="d-flex pe-3">
  <div class="body">
    <div class="menuIcon">
      <div class="py-3 px-2">
        <img class="icon" src="../assets/Images/menu.svg" alt="" />
      </div>
    </div>
    <div class="my-4">
      <div class="px-2">
        <img class="icon text-light" src="../assets/Images/cube.svg" alt="" />
      </div>
    </div>
    <div class="my-4 px-2">
      <img class="icon" src="../assets/Images/bar-chart.svg" alt="" />
    </div>
    <div class="my-4 px-2">
      <img class="icon" src="../assets/Images/add-to-queue.svg" alt="" />
    </div>
    <div class="my-4 px-2">
      <img class="icon" src="../assets/Images/right-tick.svg" alt="" />
    </div>
    <div class="my-4 px-2">
      <img class="icon" src="../assets/Images/setting.svg" alt="" />
    </div>
    <div class="my-4 px-2">
      <img class="icon" src="../assets/Images/download.svg" alt="" />
    </div>
  </div>
  <div style="overflow: scroll">
    <div
      class="d-flex"
      style="width: 92vw; background-color: white; position: fixed; left: 65px"
    >
      <div class="mx-4 my-3 w-75">
        <input type="text" class="form-control" placeholder="Search.." />
      </div>
      <div class="d-flex justify-content-evenly w-25 my-3">
        <div class="my-1 headertext">
          <select class="headertext" name="lang" id="lang">
            <option value="lang">ENG</option>
          </select>
        </div>
        <div>
          <img
            class="icon"
            src="../assets/Images/message-circle-lines.svg"
            alt=""
          />
        </div>
        <div>
          <img
            class="icon"
            src="../assets/Images/notification-bell.svg"
            alt=""
          />
        </div>
        <div>
          <img class="icon" src="../assets/Images/avtar1.svg" alt="" />
        </div>
        <div class="my-1 headertext">
          <select class="headertext" name="" id="">
            <option value="">Ajinkya</option>
          </select>
        </div>
      </div>
    </div>

    <app-dashboard></app-dashboard>
  </div>
</div>
